body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #0f0f0f;
}

.options-container {
  position: absolute;
  border-radius: 10px 0px 0px 0px;
  top: 0;
  left: 0;
  width: 50vw; /* 50% of the viewport width */
  height: 50vh; /* 50% of the viewport height */
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border: 1px solid #a2d2ff;
  color: white;
  overflow-y: auto; /* Scrollbar for overflow */
  padding: 10px;
  box-sizing: border-box;
}

.results-container {
  position: absolute;
  border-radius: 0px 0px 0px 10px;
  bottom: 0;
  left: 0;
  width: 50vw; /* 50% of the viewport width */
  height: 50vh; /* 50% of the viewport height */
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border: 1px solid #a2d2ff;
  color: white;
  overflow-y: auto; /* Scrollbar for overflow */
  padding: 10px;
  box-sizing: border-box;
}

.preview {
  position: absolute;
  border-radius: 0px 0px 10px 0px;
  bottom: 0;
  right: 0;
  width: 50vw; /* 50% of the viewport width */
  height: 100vh; /* 50% of the viewport height */
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border: 1px solid #a2d2ff;
  color: white;
  overflow-y: hidden; /* Scrollbar for overflow */
  padding: 10px;
  box-sizing: border-box;
}

.results-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 50px;
  padding: 5px;
}

.results-elements:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 0.2s;
}

.results-elements p {
  margin: 0;
  padding: 0 5px;
  font-size: small;
  font-weight: bold;
  color: white;
}

.row {
  display: flex;
  flex-direction: column;
}

.input {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.submit-button {
  position: absolute;
  margin-top: 20px;
  padding: 10px;
  bottom: 8px;
  width: 96%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
